<div class="img-container">
    <div class="img-box">
        <div class="select-container"><span>{{$ctrl.tips}}</span><span class="icon-image" ng-click="$ctrl.select()"></span></div>
        <input type="file" id="upload" style="display: none;" accept='{{$ctrl.acceptList}}' file-change='$ctrl.hello()'>
        <div class="pre-container"><span>图片预览</span><img id="preImg" class="pre-img" ng-init="$ctrl.isLager=false" 
            ng-class="{'img-larger': $ctrl.isLarger}" ng-click="$ctrl.isLarger = !$ctrl.isLarger"></div>
        <div class="upload-button">
            <div ng-click="$ctrl.upload()"><span class="icon-upload3 upload-span"></span><span>请上传</span></div>
            <span class="icon-spinner upload-progress" ng-show="!$ctrl.isFileUpload"></span>
        </div>
    </div>
</div>