<div class="register-container">
    <div class="register-box">
        <div class="register-inputbox">
        <label class="label"><span class="register-star">* </span>用户名</label>
        <input type="text" required placeholder="请输入用户名" ng-model="$ctrl.user.name">
        </div>
        <div class="register-inputbox">
        <label class="label"><span class="register-star">* </span>密码</label>
        <input type="password" required placeholder="请输入密码" ng-model="$ctrl.user.password">
        </div>
        <div class="register-inputbox">
        <label class="label"><span class="register-star">* </span>重复密码</label>
        <input type="password" required placeholder="请再次输入密码" ng-model="$ctrl.user.repassword">
        </div>
    </div>
    <div class="register-button-container">
        <div class="register-button" ng-click="$ctrl.OK()">确定</div>
        <div class="register-button" ng-click="$ctrl.cancel()">取消</div>
    </div>
</div>