.label {
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 4px;
  }
  .register-container {
      display: flex;
      justify-content: center;
      margin-top: 20vh; 
  }
  .register-input {
    padding: 3px 8px;
  }
  .register-box {
      padding: 9px;
      background: #fff;
  }
  .register-star {
    color: red;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
  .register-inputbox {
      height: 24px;
      margin-bottom: 20px;
  }

  .register-button {
    background: #00b38a;
    margin: 0 auto;
    color: #fff;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }

  .register-button-container {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .register-err {
    font-size: 12px;
    color: red;
    margin-top: -10px;
    margin-bottom: 8px;
    text-align: right;
  }

  .register-title {
    margin-bottom: 35px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .user-alert-content {
    height: 100px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
